<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Department Info Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/department-view.css}">
    </head>

    <body>
        <!-- DEPARTMENT TITLE -->
        <div th:if="${roles.contains('D')}">
            <header class="main-header">
                <h1 th:text="${department.getName()} + ' Department'"></h1>
            </header>
        </div>

        <div class="container">
            <!-- DISPLAY A LIST OF WORKERS -->
            <div th:if="${roles.contains('D')}" class="worker-list">
                <ul>
                    <!-- IF CLICKED, THE USER'S PAGE WILL BE DEMONSTRATED -->
                    <li th:each="worker : ${department.getWorkers()}">
                        <form th:action="@{'/personal/' + ${worker.getId()}}" method="GET">
                            <!--
                            The button that triggers the form submission.
                            If the user has the lowest accessibility level, then it
                            will not work
                            -->
                            <button th:utext="${worker}"
                                    th:disabled="${!roles.contains('C')}"
                                    th:classappend="${worker.getWorkerType().toString() == 'MANAGER'} ? 'manager'"></button>
                        </form>
                    </li>
                </ul>
            </div>

            <!-- STATS -->
            <div th:if="${roles.contains('B')}">
                <!-- Flexbox elongates containers for them to be of a certain length.
                 For this reason I have added an inner container, which will not depend on neighbouring
                 containers -->
                <div class="stats">
                    <h4>Statistics</h4>

                    <p th:text="'Minimum budget: ' + ${department.getMinBudget()} + '$'"></p>
                    <p th:text="'Employee count: ' + ${department.getEmployeeCount()}"></p>
                </div>
            </div>
        </div>
    </body>
</html>