<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Personal Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/personal-view.css}">
    </head>

    <body>
        <header class="main-header">
            <h1>Personal Data Editor</h1>
        </header>

        <div class="container">
            <div class="frame">
                <form th:action="@{/personal/edition}" th:object="${data}" method="post">
                    <!-- PERSONAL DATA TO UPDATE -->
                    <table class="table">
                        <tbody>
                            <tr th:each="workerData, itemStat : *{workersData}">
                                <td th:text="${workerData.key}"></td>
                                <td class="to-end"><input th:field="*{workersData[__${itemStat.index}__].value}"/></td>
                                <!-- Keep the field name for future data binding -->
                                <td><input type="hidden" th:field="*{workersData[__${itemStat.index}__].field}" th:value="${workerData.field}"/></td>
                                <!-- Keep the view name for a potential new update request to the user -->
                                <td><input type="hidden" th:field="*{workersData[__${itemStat.index}__].key}" th:value="${workerData.key}"/></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- ERRORS -->
                    <div class="error">
                        <ul>
                            <li th:each="error : ${data.getErrorMessages()}">
                                <p th:text="${error}"></p>
                            </li>
                        </ul>
                    </div>

                    <!-- SUBMIT -->
                    <div class="action-button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>