<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/main-view.css}">
    </head>

    <body>
        <header class="main-header">
            <h1 th:text="'Welcome, ' +
                    ${user.getFirstName()} + ' ' +
                    ${user.getLastName()}" class="center"></h1>
        </header>

        <!-- CONTENT -->
        <div class="container">
            <!-- NAVIGATION PANEL -->
            <div class="nav-panel">
                <!-- VIEW ACCOUNT INFO -->
                <form th:action="@{/personal}" method="get">
                    <div class="nav-item">
                        <button type="submit">Personal</button>
                    </div>
                </form>

                <!-- VIEW DEPARTMENT INFO -->
                <form th:action="@{/department}" method="get">
                    <div class="nav-item">
                        <button type="submit">Department</button>
                    </div>
                </form>

                <!-- ADD A WORKER -->
                <div th:if="${roles.contains('B')}">
                    <form th:action="@{/personal/creation}" method="get">
                        <div class="nav-item">
                            <button type="submit">Add Worker</button>
                        </div>
                    </form>
                </div>

                <!-- ADD A DEPARTMENT -->
                <div th:if="${roles.contains('B')}">
                    <form th:action="@{/department/creation}" method="get">
                        <div class="nav-item">
                            <button type="submit">Add Department</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>