<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Personal Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/personal-view.css}">
    </head>

    <body>
        <header class="main-header">
            <h1>Personal Data</h1>
        </header>

        <div class="container">
            <!-- PERSONAL DATA -->
            <div class="data-list frame">
                <ul>
                    <li th:each="field : ${fields}">
                        <p th:text="${field.getKey()}"></p>
                        <p th:text="${field.getValue()}" class="value"></p>
                    </li>
                </ul>
            </div>

            <!-- UPDATE -->
            <div class="action-button">
                <form th:action="@{/personal/edition}" method="GET">
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </body>
</html>