<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Register Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/auth-view.css}">
    </head>

    <body>
        <div class="container">
            <header class="main-header">
                <h1>Register</h1>
            </header>

            <!-- REGISTRATION FORM -->
            <form th:action="@{/auth/process-register}" th:object="${register}" method="post">
                <!-- ID REQUEST -->
                <div class="input-field">
                    <input type="text" th:field="*{id}" placeholder="ID"/>
                </div>

                <!-- PASSWORD REQUEST -->
                <div class="input-field">
                    <input type="password" th:field="*{password}" placeholder="Password"/>
                </div>

                <!-- ERRORS -->
                <div class="error-block">
                    <ul>
                        <li th:each="error : ${register.getErrorMessages()}">
                            <div class="error-item">
                                <p th:text="${error}"></p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- REGISTER BUTTON -->
                <div class="submit-button">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </body>
</html>