<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Register Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/auth-view.css}">
    </head>

    <body>
        <div class="container">
            <header class="main-header">
                <h1>Register</h1>
            </header>

            <!-- REGISTRATION FORM -->
            <form th:action="@{/auth/process-register}" th:object="${register}" method="POST">
                <!-- ID REQUEST -->
                <div class="input-field">
                    <input type="text" th:field="*{id}" placeholder="ID"/>
                </div>

                <!-- PASSWORD REQUEST -->
                <div class="input-field">
                    <input type="password" th:field="*{password}" placeholder="Password"/>
                </div>

                <!-- ERRORS -->
                <div class="error-block">
                    <div class="error-item">
                        <p th:if="${#fields.hasErrors('id')}"
                            th:errors="*{id}"
                            class="error"></p>
                    </div>

                    <div class="error-item">
                        <p th:if="${not #strings.isEmpty(register.error)}"
                            th:text="${register.error}" class="error"></p>
                    </div>

                    <div class="error-item">
                        <p th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"
                            class="error"></p>
                    </div>
                </div>

                <!-- REGISTER BUTTON -->
                <div class="submit-button">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </body>
</html>