<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create Personal Page</title>

        <!-- reference CSS file -->
        <link rel="stylesheet" th:href="@{/css/personal-view.css}">
    </head>

    <!-- THIS TEMPLATE WILL BE USED FOR THE CREATE PROCEDURE -->
    <body>
        <header class="main-header">
            <h1>Add a new Worker</h1>
        </header>

        <div class="container">
            <div class="frame">
                <form th:action="@{/personal/creation}" th:object="${data}" method="post">
                    <!-- PERSONAL DATA TO INSERT -->
                    <table class="table">
                        <tbody>
                        <tr th:each="workerData, itemStat : *{modelData}">
                            <td th:text="${workerData.key}"></td>
                            <td class="to-end input-field"><input th:field="*{modelData[__${itemStat.index}__].value}"/></td>
                            <!-- Keep the field name for future data binding -->
                            <td class="hidden"><input type="hidden" th:field="*{modelData[__${itemStat.index}__].field}" th:value="${workerData.field}"/></td>
                            <!-- Keep the view name for a potential new update request to the user -->
                            <td class="hidden"><input type="hidden" th:field="*{modelData[__${itemStat.index}__].key}" th:value="${workerData.key}"/></td>
                        </tr>

                        <!-- CHOSE WORKER TYPE -->
                        <tr>
                            <td><label for="selectBox">Worker Type</label></td>
                            <td class="to-end">
                                <select id="selectBox" name="selectedOption" class="to-end options">
                                    <option>-- Select --</option>
                                    <option th:each="workerType : ${workerTypes}"
                                            th:value="${workerType}"
                                            th:text="${workerType}"></option>
                                </select>
                            </td>
                            <td class="pick-type">
                                <div class="pick">
                                    <button type="submit" name="pickType">Pick</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- ERRORS -->
                    <div class="error">
                        <ul>
                            <li th:each="error : ${data.getErrorMessages()}">
                                <p th:text="${error}"></p>
                            </li>
                        </ul>
                    </div>

                    <!-- SUCCESSFUL CREATION -->
                    <div class="success" th:if="${data.isOperationSuccessful()}">
                        <p>Worker has been successfully created</p>
                    </div>

                    <!-- SUBMIT -->
                    <div class="action-button">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>

            <!-- RETURN TO MAIN -->
            <div class="action-button">
                <form th:action="@{/home}" method="get">
                    <button type="submit">Back to main page</button>
                </form>
            </div>
        </div>
    </body>
</html>