* {
    /* CLEAR ANY OFFSET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: max(2.3vw, 1.3rem); /* font is 2.5% of the view port */
}

body {
    font-family: sans-serif;
    color: #383838;
    background-color: #f7f7f7;
    min-width: 850px;
}


/* CLASSES */
.main-header {
    margin-top: 3%;
    margin-bottom: 4%;
}

.container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
}

.nav-panel {
    background-color: #787276;
    border: 2px solid #594D5B;
    width: 20%; /* the whole nav panel will take 20% of the screen */
}

.nav-item {
    display: flex;
    justify-content: center;
    margin: max(1.5vw, 10px)  0;
}

.nav-item button {
    background-color: #383838;
    color: #f7f7f7;
    border: 2px solid #383838;

    width: 60%; /* the button will take 60% of the nav panel */
    padding: max(0.9vw, 7px) 0;
    font-size: max(0.9vw, 10px);
    text-transform: uppercase;
    font-weight: bold;
}

.nav-item button:hover {
    cursor: pointer;
    background-color: #f7f7f7;
    color: #383838;
}