* {
    /* CLEAR ANY OFFSET */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: max(2.3vw, 1.3rem); /* font is 2.5% of the view port */
}

body {
    font-family: sans-serif;
    color: #383838;
    background-color: #f7f7f7;
    min-width: 850px;
}

span {
    font-size: max(0.85vw, 0.55rem);
}

ul {
    list-style-type: none;
}


/* CLASSES */
.main-header {
    margin-top: 3%;
    margin-bottom: 8%;
}

.container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
}

.inner-container {
    width: 20%;
}

.nav-panel {
    background-color: #787276;
    border: 2px solid #594D5B;
    width: 100%; /* the whole nav panel will take 20% of the screen */
}

.nav-item {
    display: flex;
    justify-content: center;
    margin: max(1.5vw, 10px)  0;
}

.nav-item button {
    background-color: #383838;
    color: #f7f7f7;
    border: 2px solid #383838;

    width: 60%; /* the button will take 60% of the nav panel */
    padding: max(0.9vw, 7px) 0;
    font-size: max(0.9vw, 10px);
    text-transform: uppercase;
    font-weight: bold;
}

.nav-item button:hover {
    cursor: pointer;
    background-color: #f7f7f7;
    color: #383838;
}

.to-end {
    margin-left: auto;
}

.posts {
    width: 75%;
}

.post {
    margin-bottom: 5%;
    border-bottom: 4px solid #787276;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2%;

    margin: 5%;
}

.action-button {
    width: 10%;
}

.action-button form {
    width: 100%;
}

.action-button button {
    width: 100%;
    padding: max(0.65vw, 3px) 0;
    font-size: max(0.7vw, 0.6rem);

    background-color: #383838;
    color: #f7f7f7;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #383838;
}

.action-button button:hover {
    cursor: pointer;
    background-color: #f7f7f7;
    color: #383838;
}

.title {
    margin-bottom: 4%;

    text-align: center;
    font-size: max(1.35vw, 0.8rem);
    font-style: italic;
}

.content {
    margin-bottom: 2.5%;

    font-size: max(1vw, 0.6rem);
}

.author {
    font-weight: bold;
}

.author span {
    border-bottom: 1px black solid;
}

.extra {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.date {
    font-style: italic;
}